<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link rel="stylesheet" href="assets/css/screen.css" />
	</head>
	<body>
		<div id="contacts">
			<header>
				<a id="showForm" href="#">Add new contact</a>
			    <div id="filter"><label>Show me:</label></div>
			</header>
			<form id="addContact" action="#">
			    <label for="photo">photo:</label><input id="photo" type="file" />
			    <label for="type">Type:</label><input id="type" />
			    <label for="name">Name:</label><input id="name" />
			    <label for="address">Address:</label><input id="address" />
			    <label for="tel">Tel:</label><input id="tel" />
			    <label for="email">Email:</label><input id="email" />
			    <button id="add">Add</button>
			</form>
		</div>
		<!-- template -->
		<script id="contactTemplate" type="text/template">
		    <img src="<%= photo %>" alt="<%= name %>" />
		    <h1><%= name %><span><%= type %></span></h1>
		    <div><%= address %></div>
		    <dl>
		        <dt>Tel:</dt><dd><%= tel %></dd>
		        <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
		    </dl>
		    <button class="delete">Delete</button>
		</script>
		<!-- END template -->
		
		<!-- JS -->
		<!--
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
		<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
		-->
		<!-- adding local libs rather than from CDN -->
		<script src="assets/js/libs/jquery_1.9.0.js"></script>
		<script src="assets/js/libs/underscore_1.4.3.js"></script>
		<script src="assets/js/libs/backbone_0.9.10.js"></script>
		<!-- Application entry -->
		<script src="src/main.js"></script>
		<!-- End JS -->
	</body>
</html>
